*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
  }
  body{
    text-align: center;
    background: rgb(103,219,83);
  background: linear-gradient(90deg, rgb(83, 119, 219) 19%, rgba(33,33,255,1) 54%, rgba(0,212,255,1) 100%);
  }
  
  button{
    height: 80px;
    width: 80px;
    color: greenyellow;
    background: black;
  }